<form action="/snippets" method="post">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" placeholder="Snipet's title...">
  <label for="body">Body</label>
  <textarea id="body" name="body" placeholder="Snippet's body..." rows="10"></textarea>
  <input type="submit" value="Add snippet">
</form>      
<% @snippets.each do |snippet| %>
  <h5><%= snippet.title %></h5>
  <p><%= snippet.body %></p>
<% end %>
