<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Snippets -- the simplest way to collect ideas </title>
  </head>
  <body>
    <h1 id="snippets"><small>Snippets: The simplest possible snippet collector</small></h1>
    <%= yield %>
    <p class="text-muted">@ José Bonnet -- 2016/2017</p>
  </body>
</html>
